body {
    min-height: 100vh;
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.form1 {
    position: absolute;
    left: 0;
    top: 120px;
    z-index: -1;
}

.form1 img {
    width: 200px;
}

.form2 {
    position: absolute;
    right: 0;
    top: 120px;
    z-index: -1;
}

.form2 img {
    width: 500px;
}

.form3 {
    position: absolute;
    left: 0;
    top: 320px;
    z-index: -1;
}

.form3 img {
    width: 520px;
}

.form4 {
    position: absolute;
    right: 60px;
    top: 510px;
    z-index: -1;
}

.form4 img {
    width: 670px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.introduction {
    padding: 40px 0;
    margin-top: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    padding-top: 85px;
}

.introduction-content {
    position: relative;
    z-index: 1;
    width: 50%;
    padding: 20px;
    text-align: center;
}

.hello {
    color: #3D3DEA;
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.who {
    text-align: center;
    font-size: 60px;
    line-height: 1.6;
}

.button-about {
    background-color: #3D3DEA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    width: 140px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.button-about:hover{
    background-color: #6565f0;
}

.skills {
    background-color: #D9D9D9;
    padding: 40px 0;
}

.skills-list {
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.skill {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
}

.skill a img {
    width: 60px;
}

.skill a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20 rgba(43, 107, 96, 0.5);
    transition: transform 0.5s, box-shadow 0.5s;
}

@media screen and (max-width: 768px) {
    .introduction {
        display: block;
    }

    .introduction-content {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .skills-list {
        flex-direction: column;
    }

    .skill {
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    .form1 img{
        width: 70px;
    }

    .form2 img {
        width: 170px;
    }

    .form3 {
        position: absolute;
        z-index: -1;
        top: 600px;
    }

    .form3 img {
        width: 200px;
    }

    .form4 {
        position: absolute;
        z-index: -1;
        top: 700px;
        right: 0;
    }

    .form4 img {
        width: 200px;
    }

    .skills-list {
        padding-top: 55px;
        padding-bottom: 55px;
        display: inline-block;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
}