body {
    min-height: 100vh;
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form5 {
    position: absolute;
    left: 0;
    top: 100px;
    z-index: -1;
}

.form5 img {
    width: 400px;
}

.form6 {
    position: absolute;
    right: 0;
    top: 60px;
    z-index: -1;
}

.form6 img {
    width: 350px;
}

.form7 {
    position: absolute;
    left: 0;
    top: 800px;
    z-index: -1;
}

.form7 img {
    width: 200px;
}

.form8 {
    position: absolute;
    right: 0;
    top: 1260px;
    z-index: -1;
}

.form8 img {
    width: 300px;
}

.form9 {
    position: absolute;
    left: 0;
    top: 1960px;
    z-index: -1;
}

.form9 img {
    width: 170px;
}

.form10 {
    position: absolute;
    right: 0;
    top: 2550px;
    z-index: -1;
}

.form10 img {
    width: 150px;
}

.whoAreThey {
    text-align: center;
    font-size: 40px;
    padding-top: 120px;
    padding-bottom: 200px;
}

.member1 {
    justify-content: center;
    display: flex;
    padding-bottom: 140px;
}

.description1 {
    padding-right: 110px;
}

.name {
    border-top: 2px solid #3D3DEA;
    padding-top: 60px;
    font-size: 30px;
    padding-bottom: 5px;
}

.position {
    font-size: 18px;
    color: #3D3DEA;
    padding-bottom: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.text {
    font-size: 20px;
}

.person-image img {
    width: 310px;
}

.person-image img:hover {
    animation: pulse 0.5s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

.member2 {
    justify-content: center;
    display: flex;
    padding-bottom: 140px;
}

.description2 {
    padding-left: 130px;
}

@media screen and (max-width: 768px) {
    .whoAreThey {
        font-size: 25px;
    }

    .form5 {
        position: absolute;
        left: 0;
        top: 80px;
        z-index: -1;
    }

    .form5 img {
        width: 210px;
    }

    .form6 {
        position: absolute;
        right: 0;
        top: 260px;
        z-index: -1;
    }

    .form6 img {
        width: 215px;
    }

    .form7 {
        position: absolute;
        left: 0;
        top: 1470px;
        z-index: -1;
    }

    .form7 img {
        width: 150px;
    }

    .form8 {
        position: absolute;
        right: 0;
        top: 2560px;
        z-index: -1;
    }

    .form8 img {
        width: 280px;
    }

    .form9 {
        position: absolute;
        left: 0;
        top: 3695px;
        z-index: -1;
    }

    .form9 img {
        width: 130px;
    }

    .form10 {
        position: absolute;
        right: 0;
        top: 5000px;
        z-index: -1;
    }

    .form10 img {
        width: 150px;
    }

    .team {
       text-align: center;
    }

    .member1 {
        display: inline-block;
        padding-bottom: 160px;
    }

    .description1 {
        padding-bottom: 50px;
    }

    .name {
        border-top: 2px solid #3D3DEA;
        padding-top: 60px;
        font-size: 30px;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    .position {
        font-size: 18px;
        color: #3D3DEA;
        padding-bottom: 22px;
        padding-left: 5px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    .text {
        font-size: 20px;
    }

    .person-image {
        text-align: center;
    }

    .person-image img {
        width: 280px;
    }

    .member2 {
        display: inline-block;
        padding-bottom: 140px;
    }

    .description2 {
        padding-top: 50px;
    }
}